USE [DienThoaiDB]
GO
/****** Object:  Table [dbo].[CauHinhSP]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhSP](
	[MaCH] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NULL,
	[CPU] [nvarchar](200) NULL,
	[RAM] [nvarchar](200) NULL,
	[BoNho] [nvarchar](200) NULL,
	[ManHinh] [nvarchar](200) NULL,
	[Pin] [nvarchar](200) NULL,
	[HeDieuHanh] [nvarchar](200) NULL,
	[DonGia] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDatHang]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDatHang](
	[MaSP] [int] NOT NULL,
	[SoDH] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[ThanhTien] [decimal](18, 2) NULL,
	[MaMau] [int] NOT NULL,
 CONSTRAINT [PK_CTDATHANG] PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC,
	[MaSP] ASC,
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDG] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NULL,
	[SoSao] [int] NULL,
	[NoiDung] [nvarchar](500) NULL,
	[NgayDG] [datetime] NULL,
	[MaKH] [int] NULL,
	[MaMau] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChiKH]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[DiaChiKH](
	[MaDC] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[TenNguoiNhan] [nvarchar](100) NULL,
	[DienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[MacDinh] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[SoDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayDH] [datetime] NULL,
	[TriGia] [decimal](18, 2) NULL,
	[NgayGiao] [datetime] NULL,
	[MaTrangThai] [int] NULL,
	[TenNguoiNhan] [nvarchar](100) NULL,
	[DienThoaiNhan] [nvarchar](15) NULL,
	[DiaChiNhan] [nvarchar](255) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TrangThaiThanhToan] [nvarchar](50) NULL,
	[MaDonHang] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhSanPham]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhSanPham](
	[MaHinh] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[TenHinh] [nvarchar](150) NOT NULL,
	[ThuTu] [int] NULL,
	[MaMau] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[Email] [varchar](100) NULL,
	[DienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDonHang]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDonHang](
	[MaLS] [int] IDENTITY(1,1) NOT NULL,
	[SoDH] [int] NULL,
	[MaTrangThai] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[MaMau] [int] IDENTITY(1,1) NOT NULL,
	[TenMau] [nvarchar](50) NULL,
	[MaMauHex] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[MaNSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](100) NULL,
	[Logo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[MaLoai] [int] NULL,
	[MaNSX] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[MoTa] [nvarchar](max) NULL,
	[AnhSP] [nvarchar](100) NULL,
	[NgayCapNhat] [datetime] NULL,
	[Dungluong] [varchar](10) NULL,
	[ThiTruong] [nvarchar](50) NULL,
	[DaXoa] [bit] NOT NULL,
	[SoLuongTon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham_MauSac]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham_MauSac](
	[MaSP] [int] NOT NULL,
	[MaMau] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[username] [varchar](50) NOT NULL,
	[password] [nvarchar](250) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaVaiTro] [int] NOT NULL,
	[MaKH] [int] NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[NgaySua] [datetime2](7) NULL,
	[AvtUrl] [nvarchar](255) NULL,
	[TrangThai] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[MaNguoiNhan] [int] NULL,
	[LoaiThongBao] [nvarchar](50) NULL,
	[DaDoc] [bit] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiDonHang]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiDonHang](
	[MaTrangThai] [int] IDENTITY(1,1) NOT NULL,
	[TenTrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 3/12/2026 3:01:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CauHinhSP] ON 

INSERT [dbo].[CauHinhSP] ([MaCH], [MaSP], [CPU], [RAM], [BoNho], [ManHinh], [Pin], [HeDieuHanh], [DonGia]) VALUES (1, 4, N'Apple A17 Pro', N'8GB', N'512GB', N'6.7 inch Super Retina XDR', N'4422 mAh', N'iOS 17', CAST(35000000 AS Decimal(18, 0)))
INSERT [dbo].[CauHinhSP] ([MaCH], [MaSP], [CPU], [RAM], [BoNho], [ManHinh], [Pin], [HeDieuHanh], [DonGia]) VALUES (2, 5, N'Apple A16 Bionic', N'6GB', N'256GB', N'6.1 inch Super Retina XDR', N'3349 mAh', N'iOS 17', CAST(25000000 AS Decimal(18, 0)))
INSERT [dbo].[CauHinhSP] ([MaCH], [MaSP], [CPU], [RAM], [BoNho], [ManHinh], [Pin], [HeDieuHanh], [DonGia]) VALUES (3, 6, N'Apple A15 Bionic', N'6GB', N'128GB', N'6.1 inch Super Retina XDR', N'3279 mAh', N'iOS 16', CAST(20000000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[CauHinhSP] OFF
GO
INSERT [dbo].[CTDatHang] ([MaSP], [SoDH], [SoLuong], [DonGia], [ThanhTien], [MaMau]) VALUES (4, 5, 1, CAST(35000000.00 AS Decimal(18, 2)), CAST(35000000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[CTDatHang] ([MaSP], [SoDH], [SoLuong], [DonGia], [ThanhTien], [MaMau]) VALUES (4, 7, 1, CAST(35000000.00 AS Decimal(18, 2)), CAST(35000000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[CTDatHang] ([MaSP], [SoDH], [SoLuong], [DonGia], [ThanhTien], [MaMau]) VALUES (4, 7, 1, CAST(35000000.00 AS Decimal(18, 2)), CAST(35000000.00 AS Decimal(18, 2)), 2)
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

INSERT [dbo].[DanhGia] ([MaDG], [MaSP], [SoSao], [NoiDung], [NgayDG], [MaKH], [MaMau]) VALUES (1, 4, 5, N'hihi', CAST(N'2026-03-04T19:54:04.197' AS DateTime), 1, 1)
INSERT [dbo].[DanhGia] ([MaDG], [MaSP], [SoSao], [NoiDung], [NgayDG], [MaKH], [MaMau]) VALUES (4, 10, 5, N'hihi2', CAST(N'2026-03-09T16:32:31.673' AS DateTime), 2, 2)
INSERT [dbo].[DanhGia] ([MaDG], [MaSP], [SoSao], [NoiDung], [NgayDG], [MaKH], [MaMau]) VALUES (5, 4, 5, N'hihi', CAST(N'2026-03-04T19:54:04.197' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
GO
SET IDENTITY_INSERT [dbo].[DiaChiKH] ON 

INSERT [dbo].[DiaChiKH] ([MaDC], [MaKH], [TenNguoiNhan], [DienThoai], [DiaChi], [MacDinh]) VALUES (1, 1, N'Đặng Nguyễn Duy Khanh', N'0912345678', N'12 Nguyễn Trãi, Phường 5, Quận 1, TP.HCM', 1)
INSERT [dbo].[DiaChiKH] ([MaDC], [MaKH], [TenNguoiNhan], [DienThoai], [DiaChi], [MacDinh]) VALUES (2, 1, N'Đặng Nguyễn Duy Khanh', N'0987654321', N'45 Lê Lợi, Phường Bến Thành, Quận 1, TP.HCM', 0)
INSERT [dbo].[DiaChiKH] ([MaDC], [MaKH], [TenNguoiNhan], [DienThoai], [DiaChi], [MacDinh]) VALUES (3, 1, N'Đặng Nguyễn Duy Khanh', N'0909123456', N'88 Cách Mạng Tháng 8, Quận 10, TP.HCM', 0)
SET IDENTITY_INSERT [dbo].[DiaChiKH] OFF
GO
SET IDENTITY_INSERT [dbo].[DonDatHang] ON 

INSERT [dbo].[DonDatHang] ([SoDH], [MaKH], [NgayDH], [TriGia], [NgayGiao], [MaTrangThai], [TenNguoiNhan], [DienThoaiNhan], [DiaChiNhan], [PhuongThucThanhToan], [TrangThaiThanhToan], [MaDonHang]) VALUES (1, 1, CAST(N'2026-03-03T20:26:33.423' AS DateTime), CAST(35000000.00 AS Decimal(18, 2)), NULL, 3, N'Đặng Nguyễn Duy Khanh', N'0912345678', N'12 Nguyễn Trãi, Phường 5, Quận 1, TP.HCM', N'COD', N'Chưa thanh toán', N'DH202603040325')
INSERT [dbo].[DonDatHang] ([SoDH], [MaKH], [NgayDH], [TriGia], [NgayGiao], [MaTrangThai], [TenNguoiNhan], [DienThoaiNhan], [DiaChiNhan], [PhuongThucThanhToan], [TrangThaiThanhToan], [MaDonHang]) VALUES (2, 1, CAST(N'2026-03-04T18:34:13.720' AS DateTime), CAST(105000000.00 AS Decimal(18, 2)), NULL, 4, N'Đặng Nguyễn Duy Khanh', N'0912345678', N'12 Nguyễn Trãi, Phường 5, Quận 1, TP.HCM', N'COD', N'Chưa thanh toán', N'DH202603040000')
INSERT [dbo].[DonDatHang] ([SoDH], [MaKH], [NgayDH], [TriGia], [NgayGiao], [MaTrangThai], [TenNguoiNhan], [DienThoaiNhan], [DiaChiNhan], [PhuongThucThanhToan], [TrangThaiThanhToan], [MaDonHang]) VALUES (5, 1, CAST(N'2026-03-04T18:42:30.947' AS DateTime), CAST(70000000.00 AS Decimal(18, 2)), NULL, 4, N'Đặng Nguyễn Duy Khanh', N'0912345678', N'12 Nguyễn Trãi, Phường 5, Quận 1, TP.HCM', N'COD', N'Chưa thanh toán', N'DHS000000')
SET IDENTITY_INSERT [dbo].[DonDatHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HinhAnhSanPham] ON 

INSERT [dbo].[HinhAnhSanPham] ([MaHinh], [MaSP], [TenHinh], [ThuTu], [MaMau]) VALUES (1, 4, N'ip15promax_1.jpg', 1, 1)
INSERT [dbo].[HinhAnhSanPham] ([MaHinh], [MaSP], [TenHinh], [ThuTu], [MaMau]) VALUES (2, 4, N'ip15promax_2.jpg', 2, 2)
INSERT [dbo].[HinhAnhSanPham] ([MaHinh], [MaSP], [TenHinh], [ThuTu], [MaMau]) VALUES (3, 4, N'ip15promax_3.jpg', 3, 3)
SET IDENTITY_INSERT [dbo].[HinhAnhSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Email], [DienThoai], [DiaChi], [GioiTinh], [NgaySinh]) VALUES (1, N'Đặng Nguyễn Duy Khanh', N'kxtduykhanh@gmail.com', N'0949263705', NULL, 0, CAST(N'2005-02-04' AS Date))
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Email], [DienThoai], [DiaChi], [GioiTinh], [NgaySinh]) VALUES (2, N'Đặng Nguyễn Duy Khanh 2', N'dangnguyenduykhanh42@gmail.com', N'0923224325', N'', 1, CAST(N'2026-03-05' AS Date))
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Email], [DienThoai], [DiaChi], [GioiTinh], [NgaySinh]) VALUES (3, N'Khanh DUy', N'khanh@gmail.com', N'', N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuDonHang] ON 

INSERT [dbo].[LichSuDonHang] ([MaLS], [SoDH], [MaTrangThai], [NgayCapNhat], [GhiChu]) VALUES (1, 1, 1, CAST(N'2026-03-03T20:26:33.423' AS DateTime), N'Đơn hàng được tạo ngày 3/3/2026 8:26:33 PM.')
INSERT [dbo].[LichSuDonHang] ([MaLS], [SoDH], [MaTrangThai], [NgayCapNhat], [GhiChu]) VALUES (2, 7, 1, CAST(N'2026-03-04T18:49:19.133' AS DateTime), N'Đơn hàng được tạo ngày 3/4/2026 6:49:19 PM.')
INSERT [dbo].[LichSuDonHang] ([MaLS], [SoDH], [MaTrangThai], [NgayCapNhat], [GhiChu]) VALUES (3, 8, 1, CAST(N'2026-03-05T13:24:07.850' AS DateTime), N'Đơn hàng được tạo ngày 3/5/2026 1:24:07 PM.')
SET IDENTITY_INSERT [dbo].[LichSuDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSP] ON 

INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai]) VALUES (1, N'Điện thoại ')
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai]) VALUES (2, N'Phụ kiện')
SET IDENTITY_INSERT [dbo].[LoaiSP] OFF
GO
SET IDENTITY_INSERT [dbo].[MauSac] ON 

INSERT [dbo].[MauSac] ([MaMau], [TenMau], [MaMauHex]) VALUES (1, N'Titan Đen', N'#2B2B2B')
INSERT [dbo].[MauSac] ([MaMau], [TenMau], [MaMauHex]) VALUES (2, N'Titan Trắng', N'#EDEDED')
INSERT [dbo].[MauSac] ([MaMau], [TenMau], [MaMauHex]) VALUES (3, N'Titan Xanh', N'#2E4A62')
SET IDENTITY_INSERT [dbo].[MauSac] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaSanXuat] ON 

INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [Logo]) VALUES (1, N'Samsung', N'samsung.jpg')
INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [Logo]) VALUES (2, N'Apple', N'apple.jpg')
INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [Logo]) VALUES (3, N'Xiaomi', N'xiaomi.jpg')
SET IDENTITY_INSERT [dbo].[NhaSanXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [MaNSX], [DonGia], [MoTa], [AnhSP], [NgayCapNhat], [Dungluong], [ThiTruong], [DaXoa], [SoLuongTon]) VALUES (1, N'Samsung Galaxy S24 Ultra', 1, 1, CAST(33990000.00 AS Decimal(18, 2)), N'Flagship Samsung Ultra', N's24ultra.jpg', CAST(N'2026-03-03T08:29:20.180' AS DateTime), N'512GB', N'Chính h?ng', 0, 50)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [MaNSX], [DonGia], [MoTa], [AnhSP], [NgayCapNhat], [Dungluong], [ThiTruong], [DaXoa], [SoLuongTon]) VALUES (2, N'Samsung Galaxy Z Fold 5', 1, 1, CAST(40990000.00 AS Decimal(18, 2)), N'Fold cao cấp Samsung', N'zfold5.jpg', CAST(N'2026-03-03T08:29:20.180' AS DateTime), N'512GB', N'Chính h?ng', 0, 50)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [MaNSX], [DonGia], [MoTa], [AnhSP], [NgayCapNhat], [Dungluong], [ThiTruong], [DaXoa], [SoLuongTon]) VALUES (3, N'Samsung Galaxy A55', 1, 1, CAST(10990000.00 AS Decimal(18, 2)), N'Tầm trung Samsung', N'a55.jpg', CAST(N'2026-03-03T08:29:20.180' AS DateTime), N'128GB', N'Chính h?ng', 0, 50)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[SanPham_MauSac] ([MaSP], [MaMau]) VALUES (4, 1)
INSERT [dbo].[SanPham_MauSac] ([MaSP], [MaMau]) VALUES (4, 2)
INSERT [dbo].[SanPham_MauSac] ([MaSP], [MaMau]) VALUES (4, 3)
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([username], [password], [id], [MaVaiTro], [MaKH], [NgayTao], [NgaySua], [AvtUrl], [TrangThai]) VALUES (N'admin', N'$2a$11$CoozbxYd0dRbIp3nA2c9UeVnJzX7riUJAf4qnXYerjdlTwrHiUXsy', 1, 1, NULL, CAST(N'2026-03-04T15:52:19.2469704' AS DateTime2), CAST(N'2026-03-08T18:13:45.0307782' AS DateTime2), N'avt.jpg', 1)
INSERT [dbo].[TaiKhoan] ([username], [password], [id], [MaVaiTro], [MaKH], [NgayTao], [NgaySua], [AvtUrl], [TrangThai]) VALUES (N'duykhanh', N'$2a$11$CoozbxYd0dRbIp3nA2c9UeVnJzX7riUJAf4qnXYerjdlTwrHiUXsy', 6, 2, 1, CAST(N'2026-03-04T15:52:19.2469704' AS DateTime2), CAST(N'2026-03-08T18:13:48.3363693' AS DateTime2), N'338b3d85-0cd2-4004-afe6-8d688f688eec.jpg', 1)
INSERT [dbo].[TaiKhoan] ([username], [password], [id], [MaVaiTro], [MaKH], [NgayTao], [NgaySua], [AvtUrl], [TrangThai]) VALUES (N'duykhanh2', N'$2a$11$mS0o2aedPbxKzjJcm0bIeucqEv7QPfjvyCbMKpR72Nm16QfvCMfw.', 7, 3, 2, CAST(N'2026-03-05T13:20:09.7792325' AS DateTime2), CAST(N'2026-03-08T18:13:49.6990044' AS DateTime2), N'a295dc6e-1cac-4c56-b393-db6624ea906d.png', 1)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongBao] ON 

INSERT [dbo].[ThongBao] ([MaThongBao], [TieuDe], [NoiDung], [MaNguoiNhan], [LoaiThongBao], [DaDoc], [NgayTao]) VALUES (1, N'Đơn hàng mới', N'Có đơn hàng mới #DHS01D6445 từ khách hàng duykhanh', 1, N'DonHang', 1, CAST(N'2026-03-08T15:07:27.960' AS DateTime))
INSERT [dbo].[ThongBao] ([MaThongBao], [TieuDe], [NoiDung], [MaNguoiNhan], [LoaiThongBao], [DaDoc], [NgayTao]) VALUES (2, N'Đặt hàng thành công', N'Bạn đã đặt hàng thành công. Mã đơn: DHS01D6445', 1, N'DonHang', 1, CAST(N'2026-03-08T15:07:27.963' AS DateTime))
INSERT [dbo].[ThongBao] ([MaThongBao], [TieuDe], [NoiDung], [MaNguoiNhan], [LoaiThongBao], [DaDoc], [NgayTao]) VALUES (3, N'Đơn hàng mới', N'Có đơn hàng mới #DHSD7939FB từ khách hàng duykhanh2', 1, N'DonHang', 1, CAST(N'2026-03-08T15:14:17.690' AS DateTime))
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
GO
SET IDENTITY_INSERT [dbo].[TrangThaiDonHang] ON 

INSERT [dbo].[TrangThaiDonHang] ([MaTrangThai], [TenTrangThai]) VALUES (1, N'Chờ xác nhận')
INSERT [dbo].[TrangThaiDonHang] ([MaTrangThai], [TenTrangThai]) VALUES (2, N'Đang xử lý')
INSERT [dbo].[TrangThaiDonHang] ([MaTrangThai], [TenTrangThai]) VALUES (3, N'Đang giao')
SET IDENTITY_INSERT [dbo].[TrangThaiDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (1, N'Admin')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (2, N'Nhân viên')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (3, N'Khách hàng')
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT (getdate()) FOR [NgayDG]
GO
ALTER TABLE [dbo].[DiaChiKH] ADD  DEFAULT ((0)) FOR [MacDinh]
GO
ALTER TABLE [dbo].[HinhAnhSanPham] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[LichSuDonHang] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_SoLuongTon]  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_NgayTao]  DEFAULT (sysdatetime()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ((0)) FOR [DaDoc]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CauHinhSP]  WITH CHECK ADD  CONSTRAINT [FK_CauHinhSP_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CauHinhSP] CHECK CONSTRAINT [FK_CauHinhSP_SanPham]
GO
ALTER TABLE [dbo].[CTDatHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DonDatHang] FOREIGN KEY([SoDH])
REFERENCES [dbo].[DonDatHang] ([SoDH])
GO
ALTER TABLE [dbo].[CTDatHang] CHECK CONSTRAINT [FK_CTDH_DonDatHang]
GO
ALTER TABLE [dbo].[CTDatHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTDatHang] CHECK CONSTRAINT [FK_CTDH_SanPham]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_KhachHang]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_SanPham]
GO
ALTER TABLE [dbo].[DiaChiKH]  WITH CHECK ADD  CONSTRAINT [FK_DiaChiKH_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DiaChiKH] CHECK CONSTRAINT [FK_DiaChiKH_KhachHang]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_KhachHang]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_TrangThai] FOREIGN KEY([MaTrangThai])
REFERENCES [dbo].[TrangThaiDonHang] ([MaTrangThai])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_TrangThai]
GO
ALTER TABLE [dbo].[HinhAnhSanPham]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnhSanPham_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HinhAnhSanPham] CHECK CONSTRAINT [FK_HinhAnhSanPham_SanPham]
GO
ALTER TABLE [dbo].[LichSuDonHang]  WITH CHECK ADD  CONSTRAINT [FK_LichSuDonHang_DonDatHang] FOREIGN KEY([SoDH])
REFERENCES [dbo].[DonDatHang] ([SoDH])
GO
ALTER TABLE [dbo].[LichSuDonHang] CHECK CONSTRAINT [FK_LichSuDonHang_DonDatHang]
GO
ALTER TABLE [dbo].[LichSuDonHang]  WITH CHECK ADD  CONSTRAINT [FK_LichSuDonHang_TrangThai] FOREIGN KEY([MaTrangThai])
REFERENCES [dbo].[TrangThaiDonHang] ([MaTrangThai])
GO
ALTER TABLE [dbo].[LichSuDonHang] CHECK CONSTRAINT [FK_LichSuDonHang_TrangThai]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSP] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSP] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSP]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaSanXuat] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NhaSanXuat] ([MaNSX])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaSanXuat]
GO
ALTER TABLE [dbo].[SanPham_MauSac]  WITH CHECK ADD FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSac] ([MaMau])
GO
ALTER TABLE [dbo].[SanPham_MauSac]  WITH CHECK ADD FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSac] ([MaMau])
GO
ALTER TABLE [dbo].[SanPham_MauSac]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[SanPham_MauSac]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_VaiTro] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_VaiTro]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [CK_DanhGia_SoSao] CHECK  (([SoSao]>=(1) AND [SoSao]<=(5)))
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [CK_DanhGia_SoSao]
GO
